.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.form {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid;
  border-color: black;
  padding: 40px;
}
.CardNum {
  width: 100%;
}
.ExpDate {
  width: 30%;
}
.Amount {
  width: 40%;
}
.Cvv {
  width: 20%;
}

.button {
  margin: 20px;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
  background: linear-gradient(45deg, #def, #7ac);
  transition: opacity 1s;
}

.button::before {
  border-radius: 10px;
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(190deg, #def, #7ac);
  transition: opacity 0.5s ease-in-out 0.1s;
  z-index: -1;
}

.button:hover::before {
  opacity: 1;
}
