.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.form {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid;
  border-color: black;
  padding: 40px;
}
.CardNum {
  width: 100%;
}
.ExpDate {
  width: 30%;
}
.Amount {
  width: 40%;
}
.Cvv {
  width: 20%;
}
.button {
  margin: 20px;
}
